.heading
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0 !important;
}
.btn-outline-success
{
  background-color: #FA2742;
  color: #FFFFFF;
  border-color: #FA2742;
}
h3
{
  color: #FA2742;
}
a:first-child
{
  margin-right: 7px;
}
