.proba{
  height: 100%;
  width: 100%;
  background-color: #E8EAE3;
  padding: 30px;
}
.heading
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
h3
{
  color: #383A21;
}
app-question
{
  left: 0;
  right: 0;
  width: 100%;
}
li.current
{
 background: #FA2742 !important;
}



