.tag
{
  display: inline;
  background-color: #FA2742;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 2px;
  margin-left : 0;
}
.card:hover
{
  box-shadow: 2px 1px 4px 0.5px #d5d5d5;
  -webkit-box-shadow: 2px 1px 4px 0.5px #d5d5d5;
}
div.col-md-2.card-body
{
  width: 15%;
  border-right: #f64e62 solid 3px;
}
div.col-md-8
{
  width: 85%;
}
h5
{
  color: #FA2742;
  font-weight: 400;
}
.card-body
{
  margin-top: 0 !important;
}
.stats
{
  margin-top: 0;
}
