.proba{
  height: 100%;
  width: 100%;
  background-color: #E8EAE3;
  padding: 30px;
}
.heading
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.btn-outline-success
{
  background-color: #FA2742;
  color: #FFFFFF;
  border-color: #FA2742;
}
h3
{
  color: #383A21;
}
app-question
{
  left: 0;
  right: 0;
  width: 100%;
}
.tags
{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.tag
{
  display: inline;
  background-color: #FA2742;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 2px;
  margin-left : 0;

}
small
{
  margin: 0;
}
app-heading
{
  margin-bottom: 0;
}
h5
{
  color: #FA2742;
}
small
{
  color: #b7b6b6;
}
.hide
{
  display: none;
}
.show
{
  display: block;
}
label
{
  color: #FA2742;
  font-weight: 600;
  font-size: large;
}
a{
  text-decoration: none;
  color: #FA2742;
}
form
{
  margin-bottom: 10px;
}
small
{
  padding: 0 5px 0 5px;
  color: #fa4960;
}
#author:hover
{
  cursor: pointer;
}
