<div class="proba" *ngIf="loaded; else loadingTemplate">
  <div *ngIf="tag?.id == null">
    <h3>
      Oops... Something went wrong
    </h3>
    <img src="https://i.ibb.co/4KVqHQz/Pngtree-cartoon-hand-drawn-business-404-5391377-1.png" alt="error image">
  </div>
  <div *ngIf="tag?.id != null">
  <app-heading [title]="tag!.name"></app-heading>
  <hr>
  <div class="questions">
    <app-question *ngFor="let question of questions
                  | paginate: {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count};
                  let i = index"
                  [question] = question
                  routerLink="/questions/{{question.id}}"></app-question>
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
  </div>
</div>
<ng-template #loadingTemplate>
  <object data="../../assets/spinner.svg" width="300" height="300"> </object>
</ng-template>
