.proba{
  height: 100%;
  width: 100%;
  background-color: #E8EAE3;
  padding: 30px;
}
.heading
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.btn-outline-success
{
  background-color: #FA2742;
  color: #FFFFFF;
  border-color: #FA2742;
}
h3
{
  color: #383A21;
}
app-question
{
  left: 0;
  right: 0;
  width: 100%;
}
.cont
{
  display: flex;
  justify-content: space-between;
}
.right
{
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.left{
  width: 60%;
}
#exampleFormControlTextarea1
{
  height: 40vh;
}
.steps
{
  padding-top: 10px;
  text-align: justify;
}
h3
{
  color: #FA2742;
}
.styleButton
{
  margin: 5px;
}
.search-result
{
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
li{
  list-style-type: none;
  margin: 2px;
}
li:hover
{
  box-shadow: 2px 1px 4px 0.5px #d5d5d5;
  -webkit-box-shadow: 2px 1px 4px 0.5px #d5d5d5;
}
.tag
{
  display: inline;
  background-color: #FA2742;
  color: #FFFFFF;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 3px;
  border-radius: 5px;
}
.tagContainer
{
  height: 40px;
}
.card-header
{
  background-color: #FA2742;
  color: #FFFFFF;
}
.hide
{
  display: none;
}
.show
{
  display: block;
  color: #FA2742;
}
label
{
  color: #FA2742;
  font-weight: 600;
  font-size: large;
}
