.user-info {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.questions {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

h4 {
  color: #FA2742;
}

#username {
  align-self: center;
}
