<div class="cont">
  <div class="navbar">
    <nav>
      <a routerLink="top-questions">Home</a>
      <a routerLink="questions">Questions</a>
      <a routerLink="tags">Tags</a>
      <a routerLink="users">Users</a>
    </nav>
    <div class="ad">
      <iframe id="inlineFrameExample"
              title="Inline Frame Example"
              src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
      </iframe>
    </div>
  </div>
  <div class="generated">
    <router-outlet></router-outlet>
  </div>

</div>
