.cont {
  display: flex;
  margin: 0;
  align-items: start;
  /*background-color: #C8BBB0;*/
  max-width: 100%;
  max-height: 100%;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 62px;
}

.navbar {
  margin-top: 0;
  padding: 0;
  border-right-color: #FA2742;
  border-right-style: solid;
  border-right-width: 2px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  max-width: 148.05px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #FA2742;
  font-family: "Arial";
  font-size: large;
  padding-bottom: 10px;

}

.generated {
  flex-grow: 3;
}

iframe {
  width: 125px;
  height: 250px;
  margin: 0;
}

a:hover {
  /*font-size: x-large;*/
  font-weight: bold;
}

